# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Environment files


# Build & logs
build/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDE files
.idea/
.vscode/
